<div class="header-container">
  <div>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li> <a href="/" class="menu-text">Local Restaurants</a></li>
          <li>
            <a href="#">Price Point</a>
            <ul class="menu vertical">
              <li><a href="/inexpensive">$</a></li>
              <li><a href="/moderate">$$</a></li>
              <li><a href="/expensive">$$$</a></li>
              <li><a href="/veryExpensive">$$$$</a></li>

            </ul>
          </li>
          <li><a href="#">Two</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><input type="search" placeholder="Search Restaurants"></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>Atlanta Restaurant Review</h1>
      </div>
    </div>
  </div>
</div>