<div class="header-container">
    <div>
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li> <a href="/" class="menu-text">Local Restaurants</a></li>
            <li>
              <a href="#">Price Point</a>
              <ul class="menu vertical">
                <li><a href="#">$</a></li>
                <li><a href="#">$$</a></li>
                <li><a href="#">$$$</a></li>
              </ul>
            </li>
            <li><a href="#">Two</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          
        </div> 
      </div>

      <div class="jumbotron">
        <div class="container">
          <h1>Atlanta Restaurant Review</h1>
        </div>
      </div>
    </div>
</div>