.jumbotron {
    text-align:center;
    text-shadow: black 2px 2px;
    color: rgb(209, 209, 209);
    
}

.top-bar {
    width: 100%;
    background:none;
    text-shadow: black 1px 1px;
}

.header-container {
    background-image:url("/img/midtown.jpg");
    border:2px solid white;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    
}

.top-bar ul{
    background: none;
}

.menu.vertical {
    background-color: rgb(44, 68, 114);
    
}

a {
    color:white !important;
}

.menu-text {
    font-weight: normal !important;
}
